[submodule "sensu/sensu-community-plugins"]
	path = sensu/sensu-community-plugins
	url = git@github.com:sensu/sensu-community-plugins.git
[submodule "sensu-base-docker"]
	path = sensu-base-docker
	url = git://github.com/hoshinotsuyoshi/sensu-base-docker.git
