[submodule "sensu/sensu-community-plugins"]
	path = sensu/sensu-community-plugins
	url = git@github.com:sensu/sensu-community-plugins.git
[submodule "JSON.sh"]
	path = JSON.sh
	url = git@github.com:dominictarr/JSON.sh.git
